html body {
	height: 100%;
	margin: 0;
	width: 100%;
}
#gauche {
	background-color: red;
	width: 33%;
	height: 100%;
	left: 0%;
	position: absolute;
	top: 0px;
}

#milieu {
	background-color: green;
	left: 33%;
	width: 33%;
	height: 100%;
	position: absolute;
	top: 0px;
}
#droite {
	background-color: blue;
	left: 66%;
	width: 33%;
	height: 100%;
	position: absolute;
	top: 0px;
}

