h1 {
	background-color: black;
	text-align: center;
}
}
header {
	background-color: black;
	text-align: center;
}

h3 {
	margin-top: 5%;
}
@media (min-width: 768px) {

  .container {

    width: 750px;

  }

}

@media (min-width: 992px) {

  .container {

    width: 970px;

  }

}

@media (min-width: 1200px) {

  .container {

    width: 1170px;

  }

}
.col-md-3 {
	font-size: 80%;
	text-decoration: bold;
}

.image {
	margin-left: 1%;
}

.image 2 {
	margin-right: 1%;
}
.image 3 {
	
}

nav ul {        
	list-style-type:none;
    padding: 15px;
    margin: 0px;
    text-align:center;
    top:10%;
    margin-left:0%;
    margin-right: 0%;
    margin-top: 5%;
    font-family: sans-serif;
    font-size: 100%; 
    text-decoration: bold;  
}
nav li {        
	display:inline;
    text-align: center;
    border: solid 1px;
    
}
nav li a {
    text-decoration: none;
    color: black;
	margin: 0 10px;
	border-radius: solid 2px;
	border-color: black;
}

.couleur1{
	background-color: grey;
}
.couleur2 {
	background-color: #0066CC;
}
.couleur3 {
	background-color: #330033;
}
.couleur4 {
	background-color: red;
}
.couleur5 {
	background-color: #FF3333;
}
.couleur6 {
	background-color: #FF0033;	
}
.couleur7 {
	background-color: #333333;
}
.couleur8 {
	background-color: #339900;
}
.couleur9 {
	background-color: #33FF00;
}
.couleur10 {
	background-color: #3399FF;
}
.couleur11 {
	background-color: #006666;
	
}
.couleur12 {
	background-color: #FF6600;
}
.couleur13 {
	background-color: #333333;

}
.couleur14 {
	background-color: gold;
}
