.rouge {
	color: red;
}
.italique {
	font-style: italic;
}
.mis-en-avant {
	color: red;
	font-style: italic;

}
.carre {
	height: 200px;
	width: 200px;
}
@media screen and (min-width: 300px) {
	.carre {
	background-color: blue;
	}
}

